.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background:#0d1117;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #58a6ff;
    text-decoration: none;
    margin: 0;
}
.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-links li{
    cursor: pointer;
    transition:  0.3s;
}
.nav-links li:hover{
    color: #58a6ff;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #58a6ff;
}
html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
  background: #0d1117;
  color: white;
  font-family: Arial, sans-serif;
}
@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-links a {
    font-size: 14px;
  }
}